DEPLOYER_PRIVATE_KEY=0x

ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# Replace with the actual test asset / treasury configuration for the chosen environment
USDT_ADDRESS=
TREASURY_ADDRESS=
OWNER_ADDRESS=

OPERATOR_KEY_URI=https://assets.snelabs.space/keys/{id}.json
OPERATOR_PRICE=100000000
